@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    font-family: 'Ubuntu';
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    width: 100%;
    .avto{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        .icon2{
            width: 30%;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            margin: 0 auto;
            display: none;
            .svg{
                width: 50px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-right: 1px solid #EFEFEF;
                padding: 13px 27px 27px 27px;
                &:nth-child(1){
                    border-left: 1px solid #EFEFEF;
                }
                &:nth-child(5){
                    border-right: none;
                }
                    &:hover{
                        cursor: pointer;
                        svg{
                            path{
                                fill: #009432;
                            }
                        }
                    }
                .num{
                    width: 20px;
                    height: 20px;
                    left: 41px;
                    top: 19px;
                    background-color: white;
                    border-radius: 100%;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                }
                .oval{
                    width: 20px;
                    height: 20px;
                    left: 41px;
                    top: 19px;
                    border-radius: 100%;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
                    border-radius: 100px;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                }
            }
        }
        .foto{
            width: 20%;
            margin: 0 auto;
            padding-left: 135px;
            a{
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 21px;
            line-height: 26px;
            color: #000000;
            margin-right: 7px;
            }
            span{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 21px;
                line-height: 26px;
                background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        .text{
            width: 45%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto; 
            padding-right: 107px;
            .burger{
                width: 30%;
                height: 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                display: none;
                padding: 0;
                padding-left: 0;
                .lin1{
                    width: 30px;
                    height: 2px;
                    background-color: black;
                }
            }
            .kat{
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                text-transform: uppercase;
                color: #000000;
            }
        }
        .icon{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            .svg{
                width: 50px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-right: 1px solid #EFEFEF;
                padding: 13px 27px 27px 27px;
                &:nth-child(1){
                    border-left: 1px solid #EFEFEF;
                }
                &:nth-child(5){
                    border-right: none;
                }
                    &:hover{
                        cursor: pointer;
                        svg{
                            path{
                                fill: #009432;
                            }
                        }
                    }
                .num{
                    width: 20px;
                    height: 20px;
                    left: 41px;
                    top: 19px;
                    background-color: white;
                    border-radius: 100%;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                }
                .oval{
                    width: 20px;
                    height: 20px;
                    left: 41px;
                    top: 19px;
                    border-radius: 100%;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #000000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
                    border-radius: 100px;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                }
            }
        }
        .fp{
            font-weight: 800;
            font-size: 18px;
            line-height: 26px;
            color: #000000;
            display: none;
            // padding-left: 12px;
            margin: 0 auto;
            span{
                font-weight: 800;
                font-size: 18px;
                line-height: 26px;
                background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
       .mobil-header{
        width: 20%;
        height: 60px;
        display: none;
        .search-mobil{
            width: 16px;
            height: 16px;
        }
    //    .block-mobil{
    //     svg{
    //         padding-right: 10px;
    //     }
    //    }
        .burger{
            width: 30px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            display: none;
            .lin1{
                width: 30px;
                height: 2px;
                background-color: black;
            }
        }
       }
    }
    .back-img{
        width: 100%;
        height: 650px;
        background-image: url(../img/background-girls.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 330px 965px 37px 155px;
        box-sizing: border-box;
        .norm{
            width: max-content;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .arend{
                width: max-content;
                font-weight: 700;
                font-size: 30px;
                line-height: 61px;
                text-transform: uppercase;
                color: #000000;
                padding: 13px 16px 10px 20px;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                position: relative;
                z-index: 99;
                &:last-child{
                    margin-bottom: 10px;
                }
                span{
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 61px;
                    text-transform: uppercase;
                    background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
        .oval{
            position: absolute;
            top: 670px;
            left: 125px;
            width: 60px;
            height: 60px;
            background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
            border-radius: 100px 0 100px 100px;
        }
    }
    .cards-ded{
        width: 100%;
        background: #F5F5F5;
        box-sizing: border-box;
        margin-bottom: 96px;
        padding: 45px 0;
        .cards{
            width: 80%;
            // height: 130px;  
            margin: 0 auto;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            .card{
                width: 20%;
                display: flex;
                align-items: center;
                &:not(:last-child){
                    margin-right: 24px;
                }
                svg{
                    width: 52px;
                    height: 32px;
                    &:not(:last-child){
                        margin-right: 19px;
                    }
                }
                .text{
                    width: 142px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                }
            }
        }
        .cards2{
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            flex-wrap: wrap;
            display: none;
           .box-cards2{
            width: 160px;
            height: 160px;
            background: #F5F5F5;
            .card{
                width: 100px;
                // background-color: yellow;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                &:not(:last-child){
                    margin-right: 24px;
                }
                svg{
                    width: 52px;
                    height: 32px;
                    &:not(:last-child){
                        margin-right: 19px;
                    }
                }
                .text{
                    width: 142px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                }
            }
           }
        }
    }
    .foto-back{
        width: 100%;
        height: 1000px;
        box-sizing: border-box;
        .popul{
            text-align: center;
            width: 100%;
            height: 20px;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            color: black;
            margin-bottom: 27px;
            span{
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                color: #60B021;
            }
        }
        .foto-back{
            width: 90%;
            height: 420px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            margin: 0 auto;
            margin-bottom: 93px;
            .slider{
                width: 40px;
                height: 40px;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .box-foto{
                width: 350px;
                background: #FFFFFF;
                border: 1px solid #EFEFEF;
                .photos{
                    width: 100%;
                    height: 150px;
                    display: flex;
                    padding: 26px 30px 33px 55px;
                    .svg-ph{
                        width: 10px;
                        height: 40px;
                        margin-left: 30px;
                        svg{
                            margin-bottom: 18px;
                        }
                    }
                }
                .power{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-bottom: 24px;
                    .short{
                        width: 100%;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 26px;
                        text-align: center;
                        color: #000000;
                    }
                    span{
                    font-size: 16px;
                    line-height: 26px;
                    color:#8b8686;
                    }
                }
                .buy{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    border: 1px solid #EFEFEF;
                    .kubik{
                        height: 40px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 20px;
                        color: #000000;
                        background: #FFFFFF;
                        border-right: 1px solid #EFEFEF;   
                        text-align: center; 
                        span{
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            color:#8b8686;
                        }
                    }
                }
                .hover{
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                    margin-bottom: 21px;
                    .info{
                        width: 140px;
                        height: 40px;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;
                        margin-right: 20px;
                        transition: 0.9s;
                        cursor: pointer;
                        &:hover{
                            background-color: #000000;
                            color: white;
                        }
                    }
                    .buyed{
                        width: 140px;
                        height: 40px;
                        background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                        border-radius: 100px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        color: #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 0.9s;
                        cursor: pointer;
                        svg{
                            margin-right: 9px;
                        }
                        &:hover{
                            background: white;
                            color: #000000;
                            svg{
                                transition: 0.9s;
                                margin-right: 9px;
                                &{
                                    path{
                                        fill: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .text-hover{
            width: 570px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
           h1{
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 24px;
            span{
                color: #60B021;
            }
           }
           .project{
            width: 100%;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: #75758A;
            margin: 0 auto;
            margin-bottom: 17px;
           }
           .hover{
            width: 80%;
            margin: 0 auto;
            display: flex;
            margin-bottom: 50px;
            justify-content: center;
            .info{
                width: max-content;
                padding: 12px;
                box-sizing: border-box;
                background: #FFFFFF;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                margin-right: 20px;
                transition: 0.9s;
                cursor: pointer;
                &:hover{
                    background-color: #000000;
                    color: white;
                }
            }
            .buyed{
                width: max-content;
                padding: 12px;
                box-sizing: border-box;
                background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                border-radius: 100px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-right: 20px;
                transition: 0.9s;
                svg{
                    margin-right: 9px;
                }
                &:hover{
                    background: white;
                    color: #000000;
                    svg{
                        transition: 0.9s;
                        margin-right: 9px;
                        &{
                            path{
                                fill: black;
                            }
                        }
                    }
                }
            }
        }
        }
        .big-img{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 100px;
            .small-img{
                width: 100%;
                display: flex;
                // justify-content: space-between;
                gap: 30px;
                .img-camera{
                    width: 30%;
                    height: 350px;
                    background-image: url(../img/photo-snow.png);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 0 00px 25px 25px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-sizing: border-box;
                    margin-bottom: 24px;
                    flex-wrap: wrap;
                    &:nth-child(2){
                        width: 30%;
                        height: 350px;
                        background-image: url(../img/photo-girls.png);
                    }
                    &:nth-child(3){
                        width: 30%;
                        height: 350px;
                        background-image: url(../img/photo-forest.png);
                    }
                    .text-snow{
                        width: 60%;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 42px;
                        color: #000000;
                        .sd{
                            width: max-content;
                            background: #FFFFFF;
                            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                            padding: 12px 14px 12px 14px;
                        }
                        .ot{
                            padding: 12px 14px 12px 14px;
                            width: max-content;
                            background: #FFFFFF;
                            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            .long-img{
                width: 100%;
                display: flex;
                // justify-content: space-between;
                flex-wrap: wrap;
                .like{
                    width: 62%;
                    height: 350px;
                    background-image: url(../img/photo-everest.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 0 533px 13px 40px;
                    box-sizing: border-box;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 42px;
                    color: #000000;
                    margin-right: 30px;
                    .sd{
                        width: max-content;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                        padding: 10px 14px 8px 14px;
                    }
                    .ot{
                        width: max-content;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                        padding: 10px 14px 8px 14px;
                        margin-bottom: 25px;
                    }
                }
                .img-more{
                    width: 30%;
                    height: 350px;
                    background-image: url(../img/photo-more.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 213px 108px 25px 25px;
                    box-sizing: border-box;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 42px;
                    color: #000000;
                    .sd{
                        width: max-content;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                        padding: 10px 14px 8px 14px;
                    }
                    .ot{
                        width: max-content;
                        background: #FFFFFF;
                        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                        padding: 10px 14px 8px 14px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
        .money{
            width: 100%;
            background: #F5F5F5;
            box-sizing: border-box;
            padding-bottom: 100px;
            h2{
                padding-top: 96px;
                text-align: center;
                margin-bottom: 24px;
                font-weight: 700;
                font-size: 18px;
                line-height: 20px;
                text-transform: uppercase;
                color: #000000;
                span{
                    color: #60B021;
                }
            }
            .tt{
                width: 470px;
                font-size: 14px;
                line-height: 26px;
                color: #75758A;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 37px;
            }
            .bril{
                width: 80%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
                .bril-box{
                    width: 255px;
                    height: 155px;
                    padding: 25px 30px 30px 30px;
                    box-sizing: border-box;
                    display: flex;
                    flex-wrap: wrap;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                    margin-bottom: 0;
                    margin: 0;
                    .bril-text{
                        width: 195px;
                        font-size: 14px;
                        line-height: 20px;
                        color: #000000;
                        margin-bottom: 32px;
                    }
                    .bril-icon{
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            .anim{
                width: 300px;
                padding: 17px 40px 17px 40px;
                background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
                border-radius: 100px;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                margin: 0 auto;
                cursor: pointer;
                transition: 0.9s;
                &:hover{
                    transform: scale(0.9);
                    color: #000000;
                }
            }
        }
        .center-text{
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 27px;
            margin-top: 96px;
            span{
                color: #60B021;
            }
        }
        .text-imgfoto{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            .photos-text{
                width: 350px;
                margin-bottom: 0;
                margin: 0;
                &:nth-child(2){
                    display: flex;
                    flex-direction: column-reverse;
                }
                .box-photos{
                    width: 100%;
                    background-color: rebeccapurple;
                    box-sizing: border-box;
                    padding: 21px 25px 18px 25px;
                    background: #FFFFFF;
                    border: 1px solid #EFEFEF;
                        .april{
                            font-size: 14px;
                            line-height: 20px;
                            color: #75758A;
                            margin-bottom: 5px;
                        }
                        h2{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            margin-bottom: 8px;
                        }
                        .za{
                            width: 300px;
                            height: 78px;
                            font-size: 14px;
                            line-height: 26px;
                            color: #75758A;
                        }
                    .img-girls-text{
                        margin: 0;
                        img{
                            width: 350px;
                             height: 250px;
                        }
                    }
                }
            }
        }
        .all{
            width: 200px;
            height: 50px;
            background: linear-gradient(180deg, #8EE902 0%, #4F9C2C 100%);
            border-radius: 100px;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
            transition: 0.9s;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            &:hover{
                transform: scale(0.9);
                color: #000000;
            }
        }
        .map{
            width: 100%;
            height: 350px;
            // padding: 143px 135px;
            box-sizing: border-box;
            background-image: url(../img/map.png);
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            .map-box{
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin-left: 30px;
                // margin-right: 120px;
                .map-boxes{
                    width: 255px;
                    height: 140px;
                    background: #FFFFFF;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
                    padding: 25px 51px 33px 30px;
                    box-sizing: border-box;
                    .zoo{
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #000000;
                        margin-bottom: 18px;
                    }
                    .mall{
                        font-size: 14px;
                        line-height: 16px;
                        color: #75758A;
                        margin-bottom: 10px;
                    }
                    a{
                        width: 100%;
                        font-size: 14px;
                        line-height: 16px;
                        text-decoration-line: underline;
                        color: #60B021;
                    }
                }
            }
        }
        .black-back{
            width: 100%;
            height: 72px;
            background: #515668;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            .cards-black{
                width: 80%;
                display: flex;
                justify-content: space-between;
                .cards1{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 10px;
                    }
                    .subscribe{
                        width: 135px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        span{
                            color: #8EE901;
                        }
                    }
                }
                .cards2{
                    width: 40%;
                    display: flex;
                    align-items: center;
                        input{
                            width: 400px;
                            height: 40px;
                            background: #FFFFFF;
                            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
                            border: 0;
                            outline: none;
                            font-size: 14px;
                            line-height: 16px;
                            color: #75758A;
                            padding: 12px 0 11px 20px;
                            box-sizing: border-box;
                        }
                    button{
                        width: 160px;
                        height: 40px;
                        background: #4F9C2C;
                        border: 0;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        padding: 12px 5px 12px 5px;
                    }
                }
                .cards3{
                    width: 20%;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18px;
                    color: #8EE901;
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 12px;
                    }
                }
            }
        }
        .footer{
            width: 80%;
            margin: 0 auto;
            display: flex;
            margin-bottom: 80px;
            .mobil-class{
                width: 100%;
                display: none;
                address{
                    font-size: 14px;
                    line-height: 21px;
                    color: #75758A;
                    margin-bottom: 10px;
                    font-style: normal;
                }
        }
            .number1{
                width: 20%;
                margin-right: 20px;
                margin: 0;
                .foto{
                    margin-bottom: 20px;
                    display: none;
                    a{
                    text-decoration: none;
                    font-family: 'Montserrat';
                    font-weight: 800;
                    font-size: 21px;
                    line-height: 26px;
                    color: #000000;
                    margin-right: 7px;
                    }
                    span{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 21px;
                        line-height: 26px;
                        background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                }
                .most{
                    font-size: 15px;
                    line-height: 16px;
                    color: #000000;
                    margin-bottom: 20px;
                }
                .years{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                    margin-bottom: 20px;
                  span{
                    font-size: 14px;
                    line-height: 16px;
                    color: #75758A;
                  }  
                }
                .icons-ico{
                    width: 80%;
                    display: flex;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
                .komp{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #000000;
                    margin-bottom: 20px;
                }
                ul{
                        list-style-type: none;
                        padding-left: 0;
                    li{
                        font-size: 14px;
                        line-height: 21px;
                        color: #75758A;
                        margin-bottom: 10px;

                    }
                    address{
                        width: 90px;
                        font-size: 14px;
                        line-height: 21px;
                        color: #75758A;
                        margin-bottom: 10px;
                        font-style: normal;
                    }
                }
            }
        }
    }
}